[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = https://github.com/dzello/reveal-hugo.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/justinnuwin/hugo-theme-terminal.git
[submodule "themes/terminal-portfolio"]
	path = themes/terminal-portfolio
	url = https://github.com/Louisload/hugo-theme-terminal-portfolio.git
